table{
border: 0.1em solid black;
border-collapse: collapse;
width: 95%;

margin-left:2.5%;
background-color: black;

}


table caption{
    border: 0.1em solid black;
    /* font-size: 1.5em;
   font-weight: bold;*/
     background-color: black;



}
table caption input{
    text-align: right;
 
 
 }

th td {

   border: 0.1em solid black;
   padding: 0.5em;
   text-align: center;
}

input{
  width:95%;
  height:2.5em;
  font-size: 2em;

}